<div class="d-flex min-vh-100">
  <div class="col-lg-3 bg-light" style="width: 15%;">
      <!-- Contenu du sidenav -->
      <h2 class="text-center ">Indatacore</h2>
      <div class="d-flex justify-content-center align-items-center min-vh-100">
      <ul class="list-group w-100 text-center">
        <li class="list-group-item">
          <a class="nav-link" routerLink="/dashboard">
            <i class="bi bi-speedometer2 me-2"></i>
            Dashboard
          </a>
        </li>
        <li class="list-group-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/data-table">
            <i class="bi bi-table me-2"></i>
            Data table
          </a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" routerLink="/uploader">
            <i class="bi bi-cloud-upload me-2"></i>
            Uploaders
          </a>
        </li>
      </ul>
    </div>
  </div>
    <!-- Contenu principal -->
    <div class="col-lg-9">
      <h1 class="text-center mt-5">Data table</h1>
    
      <!-- Formulaire de recherche -->
      <form class="d-flex justify-content-end mt-3 mb-3">
        <div class="input-group w-25">
          <input type="text" class="form-control" placeholder="Rechercher">
          <button class="btn btn-info" type="submit">Rechercher</button>
        </div>
      </form>
    
      <!-- Table -->
      <table class="table m-5">
        <thead>
          <tr>
            <th>#</th>
            <th>Colonne 1</th>
            <th>Colonne 2</th>
            <th>Colonne 3</th>
            <th>Colonne 4</th>
            <th>Supprimer</th>
            <th>Modifier</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#</td>
            <td>Colonne 1</td>
            <td>Colonne 2</td>
            <td>Colonne 3</td>
            <td>Colonne 4</td>
            <td>Supprimer</td>
            <td>Modifier</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Colonne 1</td>
            <td>Colonne 2</td>
            <td>Colonne 3</td>
            <td>Colonne 4</td>
            <td>Supprimer</td>
            <td>Modifier</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Colonne 1</td>
            <td>Colonne 2</td>
            <td>Colonne 3</td>
            <td>Colonne 4</td>
            <td>Supprimer</td>
            <td>Modifier</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Colonne 1</td>
            <td>Colonne 2</td>
            <td>Colonne 3</td>
            <td>Colonne 4</td>
            <td>Supprimer</td>
            <td>Modifier</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Colonne 1</td>
            <td>Colonne 2</td>
            <td>Colonne 3</td>
            <td>Colonne 4</td>
            <td>Supprimer</td>
            <td>Modifier</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Colonne 1</td>
            <td>Colonne 2</td>
            <td>Colonne 3</td>
            <td>Colonne 4</td>
            <td>Supprimer</td>
            <td>Modifier</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Colonne 1</td>
            <td>Colonne 2</td>
            <td>Colonne 3</td>
            <td>Colonne 4</td>
            <td>Supprimer</td>
            <td>Modifier</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Colonne 1</td>
            <td>Colonne 2</td>
            <td>Colonne 3</td>
            <td>Colonne 4</td>
            <td>Supprimer</td>
            <td>Modifier</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Colonne 1</td>
            <td>Colonne 2</td>
            <td>Colonne 3</td>
            <td>Colonne 4</td>
            <td>Supprimer</td>
            <td>Modifier</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Colonne 1</td>
            <td>Colonne 2</td>
            <td>Colonne 3</td>
            <td>Colonne 4</td>
            <td>Supprimer</td>
            <td>Modifier</td>
          </tr>
          <tr>
            <td>#</td>
            <td>Colonne 1</td>
            <td>Colonne 2</td>
            <td>Colonne 3</td>
            <td>Colonne 4</td>
            <td>Supprimer</td>
            <td>Modifier</td>
          </tr>
        </tbody>
      </table>
    
      <!-- Pagination -->
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Précédent</a>
          </li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#">Suivant</a>
          </li>
        </ul>
      </nav>
    </div>
    
</div>