<div class="d-flex min-vh-100">
  <div class="col-lg-3 bg-light" style="width: 15%;">
      <!-- Contenu du sidenav -->
      <h2 class="text-center ">Indatacore</h2>
      <div class="d-flex justify-content-center align-items-center min-vh-100">
      <ul class="list-group w-100 text-center">
        <li class="list-group-item">
          <a class="nav-link" routerLink="/dashboard">
            <i class="bi bi-speedometer2 me-2"></i>
            Dashboard
          </a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" routerLink="/data-table">
            <i class="bi bi-table me-2"></i>
            Data table
          </a>
        </li>
        <li class="list-group-item"routerLinkActive="active">
          <a class="nav-link" routerLink="/uploader">
            <i class="bi bi-cloud-upload me-2"></i>
            Uploaders
          </a>
        </li>
      </ul>
    </div>
  </div>
    <!-- Contenu principal -->
  <div class="col-lg-9">
    <!-- Contenu principal de votre application -->
    <h1>Uploader</h1>
  </div>
</div>