<div class="d-flex min-vh-100">
  <div class="col-lg-3 bg-light" style="width: 15%;">
      <!-- Contenu du sidenav -->
      <h2 class="text-center ">Indatacore</h2>
      <div class="d-flex justify-content-center align-items-center min-vh-100">
      <ul class="list-group w-100 text-center">
        <li class="list-group-item">
          <a class="nav-link" routerLink="/dashboard">
            <i class="bi bi-speedometer2 me-2"></i>
            Dashboard
          </a>
        </li>
        <li class="list-group-item">
          <a class="nav-link" routerLink="/data-table">
            <i class="bi bi-table me-2"></i>
            Data table
          </a>
        </li>
        <li class="list-group-item"routerLinkActive="active">
          <a class="nav-link" routerLink="/uploader">
            <i class="bi bi-cloud-upload me-2"></i>
            Uploaders
          </a>
        </li>
      </ul>
    </div>
  </div>
    <!-- Contenu principal -->
    <div class="container m-4 p-5">
      <div class="row justify-content-center align-items-center mt-3">
        <div class="col-lg-9 mt-3">
          <h1 class="text-center mt-3" style="margin-bottom: 50px; color: rgb(255, 145, 0); font-size: 30px;">Uploader un fichier</h1>
        
          <input type="file" class="form-control mt-4" id="file-input">
          <br>
          <button (click)="uploadFile()" class="form-control mb-3">Upload</button>
          
          <div id="progress-bar">
            <div id="progress"></div>
          </div>
        </div>
      </div>
    </div>
</div>